
h1{
  text-align: center;
  color: white;
  font-size: 3.5em;
}
h2{
  text-align: center;
  color: white;
  font-size: 1.5em;
  position: relative;
  top: -1em;
}
body{
  background: url("images/background.jpg");
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 50%;
}
progress[value]::-webkit-progress-bar {
  background-color: lightsteelblue;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg,
                               transparent 33%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top,
                               rgba(255, 255, 255, .25),
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }

}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

.battery{
  text-align: center;
}
.coins{
  text-align: center;
  position: relative;
  top: 1em;
}
.count{
  text-align: center;
  font-size: 2em;
  color: white;
  position: relative;
  top:5em;
  left: 2em;
}
.penny{
  position: absolute;
  top: 10%;
  left: 15%;
}
.nickel{
  position: absolute;
  top: 10%;
  left: 32%;
}
.dime{
  position: absolute;
  top: 10%;
  left: 57%;
}
.quarter{
  position: absolute;
  top: 10%;
  left: 75%;
}

.total{
  text-align: center;
  color: white;
  font-size: 3em;
  position: relative;
  top:3em;
}
form{
  text-align: center;
  position: relative;
  height: 7em;
  width: 7em;
  left:46.5%;
  top: 3em;
  border-radius: 30%;

}
button{
  text-align: center;
  position: relative;
  height: 3.5em;
  width: 7em;
  left:0%;
  top: 3em;
  border-radius: 30%;
  background-color: rebeccapurple;
  color: white;
}
button:hover {
  background-color: #441199
}

/* The switch - the box around the slider */
.switch_option {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch_option input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}