/* title */

h1{
  text-align: center;
  color: white;
  font-size: 3.5em;
}
h2{
  text-align: center;
  color: white;
  font-size: 1.5em;
  position: relative;
  top: -1em;
}

/* background */
body{
  background: url("images/background.jpg");
}

/* battery */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 50%;
}
progress[value]::-webkit-progress-bar {
  background-color: lightsteelblue;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg,
                               transparent 33%, rgba(0, 0, 0, .1) 33%,
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top,
                               rgba(255, 255, 255, .25),
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }

}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

.battery{
  text-align: center;
}

/* coins and counts */
.coins{
  text-align: center;
  position: relative;
  top: 1em;
}
.count{
  text-align: center;
  font-size: 2em;
  color: white;
  position: relative;
  top:5em;
  left: 2em;
}

.penny{
  position: absolute;
  top: 10%;
  left: 12%;
}
.nickel{
  position: absolute;
  top: 10%;
  left: 32%;
}
.dime{
  position: absolute;
  top: 10%;
  left: 60%;
}
.quarter{
  position: absolute;
  top: 10%;
  left: 79%;
}

/* total */

.total{
  text-align: center;
  color: white;
  font-size: 3em;
  position: relative;
  top:3em;
}

/* form */

form{
  text-align: center;
  position: relative;
  height: 7em;
  width: 7em;
  left:46.5%;
  top: 3em;
  border-radius: 30%;

/* submit button*/

}
button{
  text-align: center;
  position: relative;
  height: 3.5em;
  width: 7em;
  left:0%;
  top: 120%;
  border-radius: 30%;
  background-color: rebeccapurple;
  color: white;
}
button:hover {
  background-color: #441199
}

/* radio buttons*/

.switch_option{
  display: grid;
  position:absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.switch_option input{
  position: absolute;
  clip:rect(0,0,0,0);
  height:4px;
  width:4px;
  border: 0;
  overflow: hidden;
}

.switch_option label {
  background-color: #e4e4e4;
  color:rgba(0,0,0,0.6)
  font-size:10px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right:-1px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
  transition: all 0.1s ease-in-out;
}

.switch_option label:hover{
  cursor:pointer;
}

.switch_option input:checked + label{
  background-color: #a5dc86;
  box-shadow:none;
}
.switch_option label:first-of-type{
  border-radius: 4px 4px 0 0;
}

.switch_option label:last-of-type{
  border-radius: 0 0 4px 4px;
}